---
---

@import 'main';

/* Personalización de la sidebar */
#sidebar {
  width: 250px;
}

#main-wrapper {
  margin-left: 250px;
}

@media (max-width: 849px) {
  #main-wrapper {
    margin-left: 0;
  }
}